
@{
    ViewData["Title"] = "AboutUs";
}

<h1>ZULLABRAND</h1>

<p>
    Zullabrand in one word.. Hmm it's hard to tell let us represent you with many!
    Zullabrand is bulgarian clothing store who working only with 100% ECO and natural matherials!
    We love animals and don't harm them! We are profesionals with working with Wool! 
    We want people to feel the warm hug of the natural wool and give them happines! 

    Our name come from a mongolian girl her name is Zulaa! The owner of Zullabrand said she was so soft like wool
    ,s he was having so red chicks like the natural collours in our clothes, her eyes was so deep blabla bla somethin ......
    And her skin was so pure you want to touch it and when you do it ... You wont be able to forget this feeling

    This is our missin! 
    To continue return to Zula in our mind .. We chose the name Zullabrand
    To continue touch the softnes of her skin .. We make the most soft Wool
    To continue see this red chicks .. We use only natural and very brig colors for our clothing!
    To continue fall in her eyes .. We make the most collourful clothis with them all the ppl around cannot stop looking at you
    To feel the warmnes of this beautiful story .. We continue ..

    ZULLABRAND
    </p>

