
@{
    ViewData["Title"] = "Contacts";
}

<h1>Contact ZULLABRAND</h1>
<br>
<p>
    <b>
        Email - zullabrand@gmail.com
<p>
<p>Phone - <a href="tel:123-456-7890">123-456-7890</a> </p>
</p>
<p>
    Address - Stara Zagora, kv.Jeleznik
</p>
<p>
    You can write to us via Viber!
    </b>
</p>
<br>
<b>
<p>Go back to home page - <a href="https://www.zullabrand.com">Home Page</a>.</p>
</b>
